@unocss;

@media (prefers-color-scheme: no-preference) or (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --tide-focus-outline: 2px #E36209 solid;
        --tide-focus-outline-offset: 4px;
        --tide-background-size-sidebar: cover;
        --tide-background-position-sidebar: bottom;
        --tide-background-repeat-sidebar: no-repeat;
        --tide-background-attachment-sidebar: local;
        --tide-color-primary: #1F5297;
        --tide-color-secondary: #0A97B0;
        --tide-color-background-primary: #FFFFFF;
        --tide-color-background-secondary: #F1F1F1;
        --tide-color-background-sidebar: #1F5297;
        --tide-color-text-primary: #323739;
        --tide-color-text-secondary: #5C6669;
        --tide-color-text-diminished: #EAECED;
        --tide-color-text-sidebar: #FFFFFF;
        --tide-color-focused-outline: #E36209;
        --tide-color-link: #1F5297;
        --tide-color-link-hover: #1F5297;
        --tide-color-link-visited: #0A97B0;
        --tide-color-code-inline: #1F5297;
        --tide-color-table-border: #E5E7EB;
        --tide-color-table-background-head: #F1F1F1;
        --tide-color-table-background-even: #F5F5F5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --tide-focus-outline: 2px #E36209 solid;
        --tide-focus-outline-offset: 4px;
        --tide-background-size-sidebar: cover;
        --tide-background-position-sidebar: bottom;
        --tide-background-repeat-sidebar: no-repeat;
        --tide-background-attachment-sidebar: local;
        --tide-color-primary: #CCCCCC;
        --tide-color-secondary: #00ADB5;
        --tide-color-background-primary: #151515;
        --tide-color-background-secondary: #262626;
        --tide-color-background-sidebar: #151515;
        --tide-color-text-primary: #CCCCCC;
        --tide-color-text-secondary: #8C8C8C;
        --tide-color-text-diminished: #262626;
        --tide-color-text-sidebar: #CCCCCC;
        --tide-color-link: #F26B6B;
        --tide-color-link-hover: #F26B6B;
        --tide-color-link-visited: #A0153E;
        --tide-color-code-inline: #CCCCCC;
        --tide-color-table-border: #262626;
        --tide-color-table-background-head: #202020;
        --tide-color-table-background-even: #191919;
    }
}

:root[data-color-scheme="light"] {
    color-scheme: light;
    --tide-background-size-side-bar: cover;
    --tide-background-position-side-bar: bottom;
    --tide-background-repeat-side-bar: no-repeat;
    --tide-background-attachment-side-bar: local;
    --tide-color-primary: #1F5297;
    --tide-color-secondary: #0A97B0;
    --tide-color-background-primary: #FFFFFF;
    --tide-color-background-secondary: #F1F1F1;
    --tide-color-background-side-bar: #1F5297;
    --tide-color-text-primary: #323739;
    --tide-color-text-secondary: #5C6669;
    --tide-color-text-diminished: #EAECED;
    --tide-color-text-side-bar: #FFFFFF;
    --tide-color-focused-outline: #E36209;
    --tide-color-link: #1F5297;
    --tide-color-link-hover: #1F5297;
    --tide-color-link-visited: #0A97B0;
    --tide-color-code-inline: #1F5297;
    --tide-color-table-border: #E5E7EB;
    --tide-color-table-background-head: #F1F1F1;
    --tide-color-table-background-even: #F5F5F5;
}

:root[data-color-scheme="dark"] {
    color-scheme: dark;
    --tide-background-size-side-bar: cover;
    --tide-background-position-side-bar: bottom;
    --tide-background-repeat-side-bar: no-repeat;
    --tide-background-attachment-side-bar: local;
    --tide-color-primary: #CCCCCC;
    --tide-color-secondary: #00ADB5;
    --tide-color-background-primary: #151515;
    --tide-color-background-secondary: #262626;
    --tide-color-background-side-bar: #151515;
    --tide-color-text-primary: #CCCCCC;
    --tide-color-text-secondary: #8C8C8C;
    --tide-color-text-diminished: #262626;
    --tide-color-text-side-bar: #CCCCCC;
    --tide-color-focused-outline: #E36209;
    --tide-color-link: #F26B6B;
    --tide-color-link-hover: #F26B6B;
    --tide-color-link-visited: #A0153E;
    --tide-color-code-inline: #CCCCCC;
    --tide-color-table-border: #262626;
    --tide-color-table-background-head: #202020;
    --tide-color-table-background-even: #191919;
}

body {
    font-family: 'Noto Sans', 'Noto Sans SC', 'Noto Sans CJK SC', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', system-ui, sans-serif;
}

/* pre 和 .table-wrapper 具有滚动条，Chrome 会使这样的元素可获得焦点。 */
[tabindex]:not([tabindex="-1"]):focus,
a:focus,
button:focus,
input:focus,
select:focus,
pre:focus,
textarea:focus,
summary:focus,
.table-wrapper:focus,
.icon-wrapper:focus-within {
    outline: var(--tide-focus-outline);
    outline-offset: var(--tide-focus-outline-offset);
}

h1 {
    @apply un-my-4;
    @apply un-text-4xl;
    @apply un-font-bold;
    /* @apply un-text-prim; */
}

#name {
    font-family: 'Noto Serif', 'Noto Serif SC', 'Noto Serif CJK SC', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

h2 {
    @apply un-my-4;
    @apply un-text-3xl;
    @apply un-font-bold;
    /* @apply un-text-prim; */
}

h3 {
    @apply un-my-4;
    @apply un-text-2xl;
    @apply un-font-bold;
    /* @apply un-text-prim; */
}

p {
    @apply un-my-4;
}

#rendered-content {
    font-family: 'Noto Serif', 'Noto Serif SC', 'Noto Serif CJK SC', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

:root[lang="zh-CN"] #rendered-content p {
    @apply un-indent-[2em];
}

a:not(.icon) {
    @apply un-text-lk;
    @apply un-underline;
    @apply hover:un-text-lk-hvr hover:un-underline-offset-4;
    @apply visited:un-text-lk-vst;
}

#links .icon {
    @apply un-text-2xl;
    @apply hover:un-scale-110;
    @apply un-text-txt-scnd;
}

hr {
    @apply un-my-4;
    @apply un-border-(1 txt-dmsh solid);
}

p:has(img) {
    @apply un-flex;
    @apply un-flex-wrap;
    @apply un-justify-evenly;
    @apply un-gap-4;
}

p img {
    @apply un-block;
    @apply un-w-4/5 md:un-w-2/5 xl:un-w-2/5;
}

#profile,
#rendered-content img[data-width][data-height] {
    @apply un-cursor-zoom-in;
}

blockquote {
    @apply un-py-2 un-px-4;
    @apply un-my-4 un-mx-0;
    @apply un-italic;
    @apply un-bg-bg-scnd;
    @apply un-border-s-(4 prim solid);
}

blockquote p {
    @apply un-m-0;
}

table {
    @apply un-table;
    @apply un-min-w-full;
    @apply un-m-0;
    @apply un-table-layout-auto;
    @apply un-whitespace-nowrap;
    @apply un-border-separate;
    @apply un-border-spacing-0;
    @apply un-border-(1 tb-bd solid);
}

td,
th {
    @apply un-py-2 un-px-4;
    @apply un-border-s-(1 tb-bd solid);
}

th {
    @apply un-font-bold;
}

td:first-child,
th:first-child {
    @apply un-border-s-none;
}

th {
    @apply un-bg-tb-bg-hd;
    @apply un-border-b-(1 tb-bd solid);
}

tr:nth-child(2n) {
    @apply un-bg-tb-bg-evn;
}

.table-wrapper {
    @apply un-overflow-auto;
    @apply un-my-4 un-mx-0;
}

iframe {
    @apply un-block;
    @apply un-max-w-full;
    @apply un-my-4 un-mx-auto;
}

details {
    @apply un-inline-block;
}

#get-more-contact {
    @apply un-text-lk;
    @apply un-underline;
    @apply hover:un-text-lk-hvr hover:un-underline-offset-4;
}

summary {
    @apply un-cursor-pointer;
}

#turnstile-container {
    @apply un-mt-4;
}

/* 以下为插件修复。 */

.alertbox,
.collapse-ctrl:not(a),
.tag-common.tabs ul.nav-tabs li.tab,
.tabs-comment ul.nav-tabs li.tab {
    /* font-family: var(--tide-font-global); */
    @apply un-font-sans!;
}

/* 参考：https://github.com/YunYouJun/hexo-tag-common/blob/main/css/index.css */

.tag-common.tabs ul.nav-tabs,
.tabs-comment ul.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: var(--tide-color-background-primary);
}

.tag-common.tabs ul.nav-tabs li.tab,
.tabs-comment ul.nav-tabs li.tab {
    background-color: var(--tide-color-table-background-head);
    color: var(--tide-color-text-primary);
    border: 1px var(--tide-color-table-border) solid;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-grow: 1;
    list-style-type: none;
    cursor: pointer;
}

.tag-common.tabs ul.nav-tabs li.tab a,
.tabs-comment ul.nav-tabs li.tab a {
    display: block;
    /* color: var(--tide-color-text-secondary); */
    color: var(--tide-color-text-primary);
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
}

.tag-common.tabs ul.nav-tabs li.tab a::before,
.tabs-comment ul.nav-tabs li.tab a::before {
    display: none;
}

/* .tag-common.tabs ul.nav-tabs li.tab a i,
.tabs-comment ul.nav-tabs li.tab a i {
    width: 1.2857142857em;
}

.tag-common.tabs ul.nav-tabs li.tab a .icon,
.tabs-comment ul.nav-tabs li.tab a .icon {
    margin-right: 0.5em;
} */

.tag-common.tabs ul.nav-tabs li.tab.active,
.tabs-comment ul.nav-tabs li.tab.active {
    background-color: var(--tide-color-background-primary);
    /* border-top: 4px var(--tide-color-table-border) solid; */
    /* border-bottom: none; */
    cursor: default;
}

.tag-common.tabs ul.nav-tabs li.tab.active a,
.tabs-comment ul.nav-tabs li.tab.active a {
    /* color: var(--tide-color-primary); */
    /* 写在这里覆盖 prose；--fontWeight-bold 来自 UnoCSS */
    font-weight: var(--fontWeight-bold);
}

.tag-common.tabs .tab-content,
.tabs-comment .tab-content {
    border: 1px var(--tide-color-table-border) solid;
    /* border-top: none; */
}

.tag-common.tabs .tab-content .tab-pane,
.tabs-comment .tab-content .tab-pane {
    padding: 0.5em 1em;
}

.tag-common.tabs .tab-content .tab-pane:not(.active),
.tabs-comment .tab-content .tab-pane:not(.active) {
    display: none;
}